@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
    background-color: black;
}

.game-header {
    margin: auto;
    width: 50%;
    font-family: 'Press Start 2P';
    text-align: center;
    color: #b4e5af;
}

.snake-board {
  width: 700px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: 1px solid #b4e5af;
}

.board-square {
  width: 28px;
  height: 28px;
}