@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
    background-color: black;
}

.game-header {
    margin: auto;
    width: 50%;
    font-family: 'Press Start 2P';
    text-align: center;
    color: #b4e5af;
}

.game-board {
  position: fixed;
  margin-left: 100px;
  width: 700px;
  height: 700px;
  border: 1px solid #b4e5af;
  display: inline-block;
}

.snake-piece {
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: #b4e5af;
  border: 1px solid black;
  z-index: 2;
}

.food {
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: blue;
  z-index: 1;
}

.control-panel {
  margin-top: 15%;
  text-align: right;
}

.score-panel {
  font-family: 'Press Start 2P';
  color: #b4e5af
}